h1{
    margin-top: auto;
}
body{
    background-image: radial-gradient(ellipse , #000000 0%, #560866 100%);
    color: white;
    text-align: center;
    font-family: monospace, monospace;
    margin-top: 0;
}

.allButFooter {
    min-height: calc(100vh - 80px);
}

a{
    color: white;
    text-decoration: none;
}

.pub {
    background:
      linear-gradient(
        to right,
        rgb(255, 255, 255),
        rgb(255, 255, 255)
      ),
      linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
    );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 800ms;
  }

  .pub:hover {
    background-size: 0 2px, 100% 2px;
  }

.foot{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg2 {
    margin-top: 23px;
    position: absolute;
    transform: translateX(0%);
  }
.svg1 {
    margin-top: 25px;
    position: absolute;
    transform: translateX(-110%);
  }

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

.logo:hover {
    filter: 
    invert(0.5)
    sepia(1)
    hue-rotate(1000deg)
    saturate(8)
    brightness(1);
    transition: filter 3s;
}


.svg1:hover {
    filter: 
    invert(0.5)
    sepia(1)
    hue-rotate(300deg)
    saturate(8)
    brightness(1);
    transition: filter 1s;
}

.svg2:hover {
    filter: 
    invert(0.5)
    sepia(1)
    hue-rotate(300deg)
    saturate(8)
    brightness(1);
    transition: filter 1s;
}