
h1{
    margin-top: auto;
}
body{
    background-image: radial-gradient(ellipse , #000000 0%, #560866 100%);
    color: white;
    text-align: left;
    font-family: monospace, monospace;
    margin-top: 0;
    margin-left: 5%;
    margin-right: 5%;
}

.allButFooter {
    min-height: calc(100vh - 80px);
}

a{
    color: white;
    text-decoration: none;
}

.pub {
    background:
      linear-gradient(
        to right,
        rgb(255, 255, 255),
        rgb(255, 255, 255)
      ),
      linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
    );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 800ms;
  }

  .pub:hover {
    background-size: 0 2px, 100% 2px;
  }

.foot{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg1 {
    margin-top: 25px;
    position: relative;
  }

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 230px;
    align-items: center;
    margin-bottom: -65px;
}

hr{
    border: 0;
    height: 2px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    margin-bottom: 20px;
}

.image{
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15em;
    align-items: center;
}

li::marker{
  content: "⇒ ";
  color: #fdfdff;
}

h2{
  margin-top: 5%;
}

figcaption{
    font-family: monospace, monospace;
    color: white;
    margin-bottom: 50px;
    text-align: center;
}

.logo:hover {
    filter: 
    invert(0.5)
    sepia(1)
    hue-rotate(1000deg)
    saturate(8)
    brightness(1);
    transition: filter 3s;
}


.svg1:hover {
    filter: 
    invert(0.5)
    sepia(1)
    hue-rotate(300deg)
    saturate(8)
    brightness(1);
    transition: filter 1s;
}

.dropbtn {
  background-color: rgba(0, 100, 200, 1);
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  margin-top: 20%;
  border-radius: 10%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5%;
  margin-top: 10px;
}

.link {
  background:
    linear-gradient(
      to right,
      rgba(0, 100, 200, 1),
      rgba(0, 100, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  background-size: 100% 100%, 0 100%;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 800ms;
}

.link:hover {
    background-size: 0 100%, 100% 100%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(0, 79, 157); 
} 

.keyword1{
  color : rgb(255, 0, 0);
}

.keyword2{
  color : rgb(255, 251, 0);
}

.keyword3{
  color : rgb(0, 255, 0);
}

@media only screen and (orientation: landscape) {
  body {
    margin-left: 25%;
    margin-right: 25%;
  }

  .image{
    width: 30em;
  }
}

figcaption{
  margin-top: 20px;
  font-size: 13px;
  color: #969696 ;
}